:root {
  font-size: 15px;
  font-size: calc(10px + 0.5vmax);

  --bar: #4b4c50;
  --theme-primary: #6b7984;
  --theme-secondary: #d6d2d0;
  --background: #e2e1db;

  --text-main: #28292d;
  --text-light: #ffffff;
}

html, body {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Segoe UI, sans-serif;
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background);
}

.text {
  padding-left: 2em;
  padding-right: 2em;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  min-width: 28em;
}

p {
  padding-bottom: 0.5em;
}

h2, h3 {
  font-weight: lighter;
  color: var(--theme-primary);
}

h2:after {
  /* display under header. Content field is required. */
  content: ' ';
  display: block;
  border: 2px solid var(--theme-secondary);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

a {
  color: var(--text-main);
  transition: background-color linear 0.3s;
}
a:hover {
  background-color: #f1f1f1;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  min-width: 100px;
  display: block;
  margin-top: 0.2em;
  padding: 1px 2px;
}

input, select {
  /* set input and select to the same box model */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* ...so that they are the same width when set here */
  width: 80%;
}

input, button {
  padding: 1px 3px;
}

ol, ul {
  margin-right: 0.6em;
  border-left: 5px solid var(--theme-secondary);
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
li:first-child {
  padding-top: 0.5rem;
}
li:last-child {
  padding-bottom: 0.5rem;
}

#submit {
  display: inline;
  margin-right: 0.6em;
}

#add-step-picker {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.step-type {
  display: inherit;
  flex-direction: column;
  flex: 1;
  min-width: 17.2em;
  padding: 0.6em 0.6em;
  margin-right: 0.6em;
  margin-bottom: 0.6em;
  background-color: var(--theme-secondary);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.form-item {
  margin-bottom: 0.6em;
}
.form-item:last-child {
  margin-top: auto;
  margin-bottom: 0;
}

.highlight {
  color: var(--theme-primary);
}

.note {
  font-size: 80%;
}

.bar {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  height: 3em;
  padding: 0 1em;
  margin-bottom: 0.6em;
  color: var(--text-light);
  background-color: var(--bar);
  align-items: center;
}

.bar-item {
  padding-left: 1em;
}

li.step {
  padding-left: 2em;
}

h3.step-header {
  padding: 0.5em 0em;
  margin: 0em 0em;
}

li.working-header {
  list-style: none;
  text-decoration: underline;
  margin-top: 0.2rem;
}

li.working-legend {
  padding-left: 2rem;
}

li.working {
  list-style: circle;
  font-size: 0.85em;
  padding-left: 2rem;
}

#top {
  user-select: none;
  position: relative;
  top: 0;
  z-index: 1;
}

#footer-text {
  padding-top: 0.8rem;
  font-size: 0.85rem;
  margin-right: auto;
  margin-left: auto;
  color: var(--theme-primary);
}

@media only screen and (max-width: 575px) {
  .text {
    margin-right: 0px;
    margin-left: 0px;
    width: fit-content;
    min-width: 2em;
  }
}