:root {
  font-size: 16px;
  font-size: calc(10px + 0.6vmax);

  --bar: #4b4c50;
  --background: #e0dfd8;
  --theme-primary: #6b7984;
  --text-main: #28292d;
  --text-light: #ffffff;
}

html, body {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Segoe UI, sans-serif;
  color: #282a2d;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background);
}

.text {
  padding-left: 2em;
  padding-right: 2em;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  min-width: 28em;
}

p {
  padding-bottom: 0.6em;
}

h2 {
  font-weight: lighter;
  color: var(--theme-primary);
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  min-width: 100px;
  display: block;
  margin-top: 0.2em;
  padding: 1px 2px;
}

input, select {
  width: 80%;
}

input, button {
  padding: 1px 3px;
}

#clear {
  float: right;
  margin-top: 0.8em;
  margin-left: 1em;
  margin-right: 0.6em;
}

.form {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  padding: 0.6em 0.6em;
  margin-bottom: 0.6em;
  background-color: #ede7e8;
  border: 1px solid var(--text-light);
}

.highlight {
  color: var(--theme-primary);
}

.note {
  font-size: 80%;
}

.bar {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  height: 3em;
  padding: 0 1em;
  margin-bottom: 0.6em;
  color: var(--text-light);
  background-color: var(--bar);
  align-items: center;
}

.bar-item {
  padding-left: 1em;
}

.flex-item {
  flex: 1;
  align-self: flex-end;
}

#top {
  user-select: none;
  position: relative;
  top: 0;
  z-index: 1;
}

@media only screen and (max-width: 30em) {
  .text {
    margin-right: 0px;
    margin-left: 0px;
    width: fit-content;
    min-width: 2em;
  }
}