<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Conversions Calculator</title>
  <link href="static/styles.css" rel="stylesheet"/>
</head>
<body>
  <div id="top" class="bar">
    <div class="bar-item">Conversions Calculator</div><div class="bar-item highlight">v1.2</div>
  </div>
  <div class="text">
    <p>To start, add a <span class="highlight">number</span> to the list of steps below.
       Steps are processed in the order from top to bottom.</p>
    <p>The stored value can be modified by <span class="highlight">converting</span> it to a different base,
       or using <span class="highlight">addition</span>. Any addition instruction must be followed by a number,
       which is added to the last stored value.</p>
    <p>You can <span class="highlight">display</span> the stored value at any point in the list of steps.</p>
    <h2>Enter data</h2>
    <div id="step-picker"></div>
    
    <h2>Output</h2>
    <div id="output">
      <button id="submit" onclick="submit()">Send!</button>
      <span id="final">Once you're ready, click Send! The result & working will be placed here.</span>
      <div id="working"></div>
    </div>
  </div>
  <p id="footer-text">developed by kevin g. (<a href="https://github.com/ageneric/conversion-calculator/">git</a>)</p>
</body>

<!-- js -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="static/main.js"></script>
<script src="static/submit.js"></script>
</html>