<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Conversions Calculator - Hello</title>
  <link href="static/styles.css" rel="stylesheet"/>
</head>
<body>
  <div id="top" class="bar">
    <div class="bar-item">Conversions Calculator</div><div class="bar-item highlight">pre-prototype</div>
  </div>
  <div class="text">
    <h2>Enter data</h2>
    <div id="react-placer"></div>
    
    <h2>Output</h2>
  </div>
</body>

<!-- js -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="static/main.js"></script>
</html>